body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#holder {
    left:0;
    top:0;
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
}

.home-work-area{
    display:inline-block;
}

#selected-homework {
    overflow-y: auto;
    padding:5px;
    border-radius:10px;
    width:300px;
    position:relative;
    display:inline-block;
    vertical-align:top;
    min-height:400px;
    max-height:400px;
    background-color:#80808052;
}

.homework-data-row td {
    min-width:100px;
    max-width:400px;
    padding: 3px;
}

.homework-data-row {
    transition:0.5s;
}

.homework-data-row:hover {
    transition:1s;
    background-color:#80808052;
    cursor:pointer;
}

#home-work-list{
    overflow-y: auto;
    display:inline-block;
    vertical-align:top;
}

#home-work-prop-holder{
    text-align:center;
    font-size: 25px;
    color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.project-row {
    margin:2px;
    background-color: white;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.project-row:hover {
    cursor:pointer;
    transition: 0.3s;
    background-color:#80808052;
}

.project-info {
    display:none;
}