body {
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-image: url(/Content/themes/base/images/base-bg.jpg);
    background-position: bottom left;
    background-size: 40%;
    min-width:1200px
}
/*#body-bg{
    position:fixed;
    width:100%;
    height:100%;
}

#bg-img-1{
    background-image: url(https://cdn1.iconfinder.com/data/icons/education-1-15/151/26-512.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size:20%;
    position:absolute;
    width:100%;
    height:100%;

}

#bg-img-2{
    background-image: url(https://cdn.iconscout.com/public/images/icon/premium/png-512/teacher-avatar-people-job-work-teach-30952cc8d1574be0-512x512.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:20%;
    position:absolute;
        width:100%;
    height:100%;
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

.centred-text{
    top:50%;
    transform:translateY(-50%);
    position:relative;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#holder {
    left:0;
    top:0;
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
}

.home-work-area{
    display:inline-block;
}

#home-work-page{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.home-work {
    heigth:45%;
    min-height:400px;
    max-height:500px;
    width: 932px;
    margin-left: auto;
    padding: 10px;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
    margin-right: auto;
}

#selected-homework {
    overflow-y: auto;
    padding:5px;
    border-radius:10px;
    width:300px;
    position:relative;
    display:inline-block;
    vertical-align:top;
    min-height:400px;
    max-height:400px;
    background-color:#80808052;
}

.homework-data-row td {
    min-width:100px;
    max-width:400px;
    padding: 3px;
}

.homework-data-row {
    transition:0.5s;
}

.homework-data-row:hover {
    transition:1s;
    background-color:#80808052;
    cursor:pointer;
}

#home-work-list{
    overflow-y: auto;
    display:inline-block;
    vertical-align:top;
}

#home-work-prop-holder{
    text-align:center;
    font-size: 25px;
    color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.project-row {
    margin:2px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
    border-radius: 2px;
}

/*.project-row:hover {
    cursor:pointer;
    transition: 0.3s;
    background-color:#80808052;
}*/

.project-info {
    display:none;
}

.download-link{
    display:inline-block;
    transition:0.3s;
    border-radius:10px;
    margin:5px;
    padding:10px;
    text-align:center;
    width: 80px;
    cursor:pointer;
}

.body-content{
    height:100%;
    min-width:1140px;
}

.download-link-image{
    width: 30px;
    cursor:pointer;
}

.download-link:hover{
    transition:0.3s;
    cursor:pointer;
    background-color:#808080bd;
}

.student-presentation {
position:relative;
border-bottom: 1px solid red;
text-align:center;
background-color: #80808036;
display:inline-block;
width: 100px;
margin:5px;
height:100px;
max-height:100px;
}

.student-presentation:hover{
border-bottom: 0px;
}

.student-order{
position:relative;
border-bottom: 1px solid red;
background-color: #80808036;
margin:5px;
padding:5px;
max-height:100px;
}

.toggle-button{
    padding:2px;
    margin-left:10px;
    margin-right:10px;
    height:20px;
    float:right;
    display:inline;
    cursor:pointer;
}

.toggle-button:hover {
    border-radius:3px;
    transition:0.3s;
    background-color:#33333369;
}

.nameAndMark{
    display:inline-block;
}

#ordered-students , #active-students{
text-align:left;
overflow-y:auto;
position:relative;
height:450px;
transition:0.3s;
vertical-align:top;
width:550px;
display:inline-block;
}

#ordered-students:hover , #active-students:hover {
transition:0.3s;
background-color:#8080801c;
}

.show-data-button {
    width:100%;
    position:absolute;
    background-color:red;
    bottom:0;
    text-align:center;
    cursor: pointer;
}

#multypage{
    box-shadow:5px 10px 18px #88888873;
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    z-index: 999999;
    display:none;
}

#messagesIndic {
    cursor:pointer;
}

.order-page{
border-bottom: 1px solid red;
padding: 5px;
margin-bottom: 5px;
}

.order-button{
    margin:1px;
    width: 30%;
    display: inline-block;
    text-align:center;
    border-radius:0px;
}

.orders-list-content{
    width:200px;
    float:left;
}

.table-btn{
        margin: 2px;
}


#student-page{
    top:50%;
    transform:translateY(-50%);
    position:relative;
    text-align: center;
}

.hub-project{
    cursor:pointer;
    box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
    background-color: #e6e6e6;
    width: 280px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.hub-project:hover{
     background-color: #9a9898;
     box-shadow:0px 0px 0px;
     transition:1s;
}

.hub-project img{
    /*width:100px;*/
    height:40px;
}

.nav-login{
    transition:1s;
    text-align: center;
    position: fixed;
    left: -175px;
    width:250px;
    z-index: 100000;
    height: 100%;
    background-color: #464545fa;
}

.nav-login:hover {
transition:1s;
    left: 0%;
    background-color:black;
}

.content-block{
    background-color:white;
    overflow-y:no-display;
    height: 500px;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
}

.course{
    vertical-align: top;
    color: black;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 10px;
    cursor:pointer;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
    height: 145px;
}

.course:hover {
    background-color:#8080801c;
    border-bottom: 1px solid red;
    transition: 0.2s;
}

.course-obtions-buttons{
    cursor:pointer;
    display: inline-block;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12);
    margin: 1.5%;
    font-size: 40px;
    background-color:white;
    text-align:center;
}




.course-obtions-buttons.short{
    min-width:300px;
    min-height:300px;
    width: 30%;
    height: 300px;
}

.course-obtions-buttons.long{
    width:100%;
    height:100px;
    line-height: 100px;
}

.button-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.course-obtions-buttons:hover{
background-color:rgba(129, 124, 124, 0.57);
transition:0.4s;
}

.disabled{
    opacity:0.4;
    background-color:rgba(129, 124, 124, 0.57);
}

.transformable {
    -webkit-transition: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition: height 100ms linear;
    -ms-transition: height 100ms linear;
    transition: height 50ms linear ,width 50ms linear ;

}

.student-presentation-open{
animation: 0.5s myChange;
left:0px;
z-index:100;
position:absolute;
/*position:relative;*/
border-bottom: 1px solid red;
/*text-align:center;*/
background-color: #80808036;
display:inline-block;
width: 100%;
/*margin:5px;*/
height:100%;
max-height:100%;
background-color:#dcdcdc;
}

.course-index{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
@keyframes myChange {
    from {
        position:relative;
    } to {
       position:absolute;
       
    }
}