@model StudentsMine.Models.Course
@{
    ViewBag.Title = "AddCource";
}
<script>
    function addHomeWork(){
    var json = test();
    $.ajax({
        url: "/Cource/AddCource",
        type: "POST",
        contentType: 'application/json',
        data: JSON.stringify({'course' : json})
    })
    }
</script>
<h2>Add Cource</h2>

@using (Html.BeginForm("AddCource", "Cource", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
        @Html.ValidationSummary()
        <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" class="data" name="Name" />
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })*@
            <textarea class="data" name="Description"></textarea>
        </div>
    </div>
    

}

<div>
    <h3>Base access tamplate</h3>

    <div>
        <input name="BaseAccessProps%AccessToCourse" class="data hidden-xs-up" id="cbx3" type="checkbox" />
        <label class="cbx" for="cbx3"></label><label class="lbl" for="cbx3">Access to course</label>
    </div>
    <div>
        <input name="BaseAccessProps%CanUploadFiles" class="data hidden-xs-up" id="cbx2" type="checkbox" />
        <label class="cbx" for="cbx2"></label><label class="lbl" for="cbx2">Can upload files</label>
    </div>
    <div>
        <input name="BaseAccessProps%CanDownloadFiles" class="data hidden-xs-up" id="cbx1" type="checkbox" />
        <label class="cbx" for="cbx1"></label><label class="lbl" for="cbx1">Can download files</label>
    </div>
    <div>
        <input name="BaseAccessProps%AccessToHomeWork" class="data hidden-xs-up" id="cbx0" type="checkbox" />
        <label class="cbx" for="cbx0"></label><label class="lbl" for="cbx0">Access to Homework</label>
    </div>
    @*<input type="checkbox" name="BaseAccessProps%AccessToCourse" class="data" />
    <input type="checkbox" name="BaseAccessProps%CanUploadFiles" class="data" />
    <input type="checkbox" name="BaseAccessProps%CanDownloadFiles" class="data" />
    <input type="checkbox" name="BaseAccessProps%AccessToHomeWork" class="data" />*@
</div>

<a href="#" class="btn btn-default" onclick="addHomeWork(); return false;">Create Cource</a>