@model StudentsMine.Models.Course
@{
    ViewBag.Title = "AddCource";
}
<script>
    function addHomeWork(){
    var json = test();
    $.ajax({
        url: "/Cource/AddCource",
        type: "POST",
        contentType: 'application/json',
        data: JSON.stringify({ 'course': json }),
        success: function (data) {
            if (data.Result) {
                window.open('/Cource' , '_self')
            } else {
                toastr.warning(data.ErrorMessage)
            }
        }
    })
    }
</script>

<div style=" top: 50%; text-align:center; position: relative; transform: translateY(-50%);">
    <div style="padding: 10px; display: inline-block; width: 700px; background-color: white; box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.12), 0 0 0.1rem rgba(0,0,0,0.12); ">
        <div style="display:inline-block; vertical-align:top; text-align:left;">
            <h2>New course</h2>
            @Html.ValidationSummary()

            <label>Name</label>
            <p>
                <div class="col-md-10">
                    <input style="width: 300px" type="text" class="data" name="Name" />
                </div>
            </p>

            <p>
                <label>Description</label>
                <br />
                <div class="col-md-10">
                    <textarea style="resize:none;width:300px;height:100px;" class="data" name="Description"></textarea>
                </div>
            </p>
        </div>
        <div style="display: inline-block; text-align: left;">
            <h3>Base access tamplate</h3>
            <div>
                <input name="BaseAccessProps%AccessToCourse" class="data hidden-xs-up" id="cbx3" type="checkbox" />
                <label class="cbx" for="cbx3"></label><label class="lbl" for="cbx3">Access to course</label>
            </div>
            <div>
                <input name="BaseAccessProps%CanUploadFiles" class="data hidden-xs-up" id="cbx2" type="checkbox" />
                <label class="cbx" for="cbx2"></label><label class="lbl" for="cbx2">Can upload files</label>
            </div>
            <div>
                <input name="BaseAccessProps%CanDownloadFiles" class="data hidden-xs-up" id="cbx1" type="checkbox" />
                <label class="cbx" for="cbx1"></label><label class="lbl" for="cbx1">Can download files</label>
            </div>
            <div>
                <input name="BaseAccessProps%AccessToHomeWork" class="data hidden-xs-up" id="cbx0" type="checkbox" />
                <label class="cbx" for="cbx0"></label><label class="lbl" for="cbx0">Access to Homework</label>
            </div>
            @*<input type="checkbox" name="BaseAccessProps%AccessToCourse" class="data" />
                <input type="checkbox" name="BaseAccessProps%CanUploadFiles" class="data" />
                <input type="checkbox" name="BaseAccessProps%CanDownloadFiles" class="data" />
                <input type="checkbox" name="BaseAccessProps%AccessToHomeWork" class="data" />*@
        </div>
        <p></p>
        <a href="#" class="btn btn-default" onclick="addHomeWork(); return false;">Create Cource</a>
    </div>
</div>


