<div class="form-horizontal">
    <h4>HomeWork</h4>
        <hr />
        <div class="form-group">
            Title
            <div class="col-md-10">
                <input type="text" name="Title" />
            </div>
        </div>

        <div class="form-group">
            Description
            <div class="col-md-10">
                <textarea name="Description"></textarea>
            </div>
        </div>

        <div class="form-group">
            HasCondition
            <div class="col-md-10">
                <input type="checkbox" name="hasRequired" />
            </div>
        </div>


        <div id="condition">
            <h2>Condition</h2>
            <div class="form-group">
                Until
                <div class="col-md-10">
                    <input type="text" name="Condition.Until" />
                </div>
            </div>

            <div class="form-group">
                IsBlocked
                <div class="col-md-10">
                    <input type="checkbox" name="Condition.IsBlocked" />
                </div>
            </div>

            <div class="form-group">
               HasRequiredFormat
                <div class="col-md-10">
                    <input type="checkbox" name="Condition.HasRequiredFormat" />
                </div>
            </div>

            <div class="form-group">
                RequiredFormat
                <div class="col-md-10">
                    <input type="text" name="Condition.RequiredFormat" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}