@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @if (User.IsInRole("Student"))
        {
            <li>
                <img onclick="messageClick()" id="messagesIndic" alt="messages" src="/Content/themes/base/images/Dialog-box-Discussion-box.png" width="50" />
            </li>
            
        }
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
        <div id="multypage" class="ordersList">
        <div ng-app="orders" ng-controller="ordersCtrl">

            <div ng-repeat="order in orders" class="order-page">
                <div>Cource name: {{order.Title}}</div>
                <div>Description: {{order.Description}}</div>
                <div>Teacher name: {{order.TeacherName}}</div>
                <div style="text-align:center">
                    <div class="order-button btn btn-success" ng-click="successOrder(order.Id , order)">Success</div>
                    <div class="order-button btn btn-danger" >Denay</div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
