@{
    ViewBag.Title = "Students Mine";
}
<style>
    body{
    font-family: cursive;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        position:absolute;
        right:20px;
    }



    .parent-block {
        position: absolute;
        left: 0;
        bottom: 5%;
        right: 0;
        margin: auto;
        box-shadow: 8px 9px 20px 0px #6960602e;
        padding: 10px;
        width: 700px;
        display: inline-block;
        background-color: #f1f0f0;
    }

    .info-block:hover {
        transition:1s;
        background-color:white;
        cursor:pointer;
    }


    .info-block {
        vertical-align: top;
        background-color: #e2e2e2;
        width: 200px;
        height: 100px;
        padding: 10px;
        border: 1px solid #8080804a;
        border-radius: 10px;
        /* box-shadow: 0px -1px 1px; */
        /* margin-top: 50px; */
        display: inline-block;
    }

    .info-text {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .info-description {
        height: 40%;
        background-color: #f1f0f0;
        margin-top: 5%;
        border-radius: 10px;
    }

        .info-description div {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            color: #4a4a4a;
            font-size: 25px;
            transform: translateY(-50%);
        }
    .carusel-element{
        display:none;
    }


</style>
<script>
    function setCarusel(index) {
        var old = $(".info-description .active");
        old.fadeOut(300, function () {         old.removeClass("active");
        var newEl = $(".carusel-element[index=" + index + "]");
        newEl.addClass("active");
        newEl.fadeIn(300);
        });
    }
</script>
@Html.Partial("_PartSignIn")
@if (!Request.IsAuthenticated) { 
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign In/Sign Up</button>
}
<div style="text-align:center;">
    <h1 style="margin-bottom:0px;">Students mine</h1>
    <div>
        <i>Control your course easy</i>
    </div>
    <div class="info-description">
        <div class="carusel-element active" index="0" style="display:block;">
            Whelcome to "Students Mine" - most comfortable and ... platform for controll you course resourses.
            For more detals please select one of the next options.
        </div>
        <div class="carusel-element" index="1">
            On the main page you can create your course with name,description and template permision. Every course has home work repository(library), hub with students projects , chanel for online lessons(beta) and course chat(beta).
        </div>
        <div class="carusel-element" index="2">
            You can add or create students to your courses. After the student has been created, he will receive an email with login and password. If student is already avealabel you can add him by email, be careful you can add only student type user.
        </div>
        <div class="carusel-element" index="3">
        </div>
    </div>
    <div class="parent-block">
        <div>
            Students mine is the servise which help you in the role of teacher
            <br />
            easy Create and Control your own courses with
            <br />
            students and their projects.
        </div>

        <div class="info-buttons">
            <div class="info-block" onclick="setCarusel(1)">
                <div class="info-text">
                    What does it mean "Create and Control Your own courses"?
                </div>
            </div>
            <div class="info-block" onclick="setCarusel(2)">
                <div class="info-text">
                    Ok , I created one or more courses , but what I do with it?
                </div>
            </div>
            <div class="info-block" onclick="setCarusel(3)">
                <div class="info-text">
                    OK! , I created one or more courses AND add send orders to students , but what NOW?
                </div>
            </div>
        </div>
    </div>
</div>
